body{
    margin: 0;
    background-color: #DDD5DF;
    font-family:sans-serif ;
  }
  .white__box__survey{
    margin: auto;
    text-align: center;
    background-color:#ffffff9d ;
    width: 45vw;
    height: 85vh;
    border-radius:22px ;
    text-decoration: underline;
    
  }
  .items__and__buttons_survey{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    
    
    
  }

  .created__surveys_1 {
   
    list-style-type: none; /* Elimina los círculos */
    padding: 10px;
   
    
   
   
  }
  .item__survey_1 li{
    display: flex;
    justify-content: space-between;
    list-style-type: none; /* Elimina los círculos */
    width: 27vw;
     background-color: #dac6dd;
    border-radius: 5px;
    padding:15px 6px 15px 6px;
    box-shadow:1px 1px 4px rgb(81, 80, 80) ;

    
  }
  .item__survey_1 li:hover{
   
    background-color: rgb(220, 180, 218)
  }

  button.btn-back{
    width: 15vw;
    background-color: rgb(220, 180, 218);
  }


  button.btn-back:hover{
    width: 17vw;
    background-color: rgb(230, 135, 225);
  }