.welcome-container{
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #FAFAFA;
}

.user-name{
  font-size: 1rem;
  font-weight: 600;
}
aside {
  padding: 2rem;
  color: black;
  background-color: #FAFAFA;
  position: sticky;
  top: 0;
  height: 100vh;
  min-width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
header, nav {
  background-color: white;
  padding: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

header {
  border-radius: 1rem 1rem 0px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
nav{
  border-radius: 0px 0px 1rem 1rem;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}
.avatar{
  width: 45px;
}

.logo {
  font-weight: 400;
  font-size: 1.3rem;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.btn-menu {
  background-color: #CEB6D4;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border: 0;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  font-weight: 600;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
}

.btn-menu:hover {
  background-color: #b341d0;
  color: white;
  position: relative;
}
.btn-logout{
  background-color: grey;
  justify-content: center;
  color: white;
}
.btn-logout:hover{
  background-color: rgb(151, 2, 2);
}

main {
  background-color: #FAFAFA;
  padding: 3rem 2rem;
}


/********card survey*****/
.cnt-survey {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columnas en pantallas grandes */
  gap: 2.5rem; 
  justify-content: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto; 
  padding: 2.5rem;
}
.survey-container {
  background-color: #ECE6F0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  cursor: pointer;
  max-width: 400px;
}
.survey-container p{
  font-size: 1rem;
}
.options-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.op-bd{
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.border{
  border-bottom: 1px solid grey;
}
.cnt-label{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:0.8rem;
}
.cnt-label img{
  width: 25px;
}
.cnt-label label{
  font-size: 0.8rem;
}

@media (max-width: 1440px) {
  .welcome-container{
    grid-template-columns: 1fr 4fr;
  }
  aside{
    min-width: 350px;
  }
  .cnt-survey {
    gap: 1.5rem;
    padding: 1rem;
  }
  nav{
    gap:1rem;
    height: 100%;
  }
}
